body{
    padding: 0;
    margin: 0;

    width: 100vw;
    overflow-x: hidden;
}

.title p{
  margin: 0;
}

.small-spacer{
  padding-top: 5px;
  padding-bottom: 5px;
}

.dropdown{
    width: fit-content;
    display: inline-block;
    font-size: 35px;
}

.dropdown:hover .dropdown-content{
  background-color: white;
  background-position: center;
  width: 100px;
  display: block;
  opacity: 1;
  display: flex;
  flex-direction: column;
}
  
.dropdown-content {
  display: none;
  opacity: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  transition: opacity 0.4s ease;
}

.dropdown-content a{
    padding: 10px 0;
}

  

.section4{
  background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-evenly;
    margin-top: 24px;
    align-items: stretch;
}

.line{
  border-left: 1px solid black;
  height: 462px;
}

.display{
  flex: auto;
}

.dropdown{
  color: rgb(0, 0, 0);
  background-color: white;
  padding: 50px;
  text-decoration: none;
  font-weight:200;
  font-size: 35px;
}

.image img{
    width: 100%;
    height: 462px;
  }

  .image:hover img{
    -webkit-box-shadow: 4px 4px 19px -3px #000000; 
    box-shadow: 4px 4px 19px -3px #000000;
    height: 461px;
  }